# Comma-separated list of recipient email addresses
recipients: "someaddress@someexampledomain.com"

# Sender email address (optional)
from: "no-reply@someexampledomain.com"

# Space-separated list of branches to monitor for changes
# If empty, all branches are monitored
include_branches: ""

# Space-separated list of branches to ignore
# This option takes precedence on include_branches
exclude_branches: ""

# Placeholders REPO_NAME and BRANCH_NAME will be substituted with the names of
# the repository and the branch respectively.
# FILE_NAMES will be substituted with the list of files included in the
# archive, each one on a single line.

# This will be sent as the mail body in a standard push.
subject: "New CSV for REPO_NAME"

# This will be sent as the mail body in a push creating a new branch.
subject_new_branch: "New CSV for REPO_NAME"

# This will be sent as the mail body in a standard push.
body: |
  One or more CSV files have been updated in the REPO_NAME repository (BRANCH_NAME branch).
  They are attached to this mail as a compressed ZIP archive.
  
  FILE_NAMES
  
  ---
# end of body

# This will be sent as the mail body in a push creating a new branch.
body_new_branch: |
  A new branch named BRANCH_NAME has been created on repository REPO_NAME.
  The CSV files contained in the branch are attached to this mail as a compressed ZIP archive.
  
  FILE_NAMES
  
  ---
# end of body_new_branch
